<div class="timeline__container" onmouseover={{action "moveMarker"}}>
  <div class="timeline vh-centered">
    <div class="timeline__marker vertically-centered">
      <div class="dragon"></div>
    </div>
    <div class="timeline__line vh-centered"></div>
    
    <div class="timeline__items display-flex">
      {{#each this.timelineItems as |item index|}}
        <div class="timeline__item">
          <div class="timeline__indicator" data-step-id="{{index}}"></div>
          <div class="timeline__step-title">Age {{item.age}}</div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="timeline__step-descriptions display-flex">
  {{#each this.timelineItems as |item index|}}
    <div class="timeline__step-description {{if item.hidden 'hidden' ''}}">
      <h3 class="timeline__step-description-title">Age {{item.age}}</h3>
      <p class="serif">{{item.description}}</p>
    </div>
  {{/each}}
</div>
